---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Joan Mutuon</h1>
			<p class="hero__text">
				Développeur Web full stack junior à la recherche d'une alternance Concepteur Développeur d'Applications web Bac+3/4.
			</p>
		</div>
    <img
		class="hero__img"
		src="/img/joan382.jpg"
		alt=" portrait pixar de Joan Mutuon "
		width="384"
    	height="384"
	/>
	</div>
</section>
