---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Compétences" />
		<p>
			Je suis un développeur web junior passionné, avec une bonne maîtrise des technologies 
			front-end et back-end. J'utilise Bootstrap et Sass pour créer des interfaces utilisateur 
			modernes et réactives, tout en veillant à ce que le code soit maintenable et bien structuré. 
			En JavaScript et React, je développe des fonctionnalités dynamiques qui améliorent l'expérience 
			utilisateur. J'ai également une expérience pratique en entreprise avec Vue.js, où j'ai contribué 
			à la création d'interfaces interactives et réactives, en utilisant ses capacités de gestion d'état 
			et ses composants modulaires pour des projets réels. En matière de design, je me sers de Tailwind 
			CSS pour concevoir des interfaces élégantes et personnalisables grâce à ses classes 
			utilitaires flexibles. Du côté back-end, je travaille avec Laravel et Symfony pour construire 
			des applications web sécurisées et évolutives. Je suis motivé, toujours prêt à apprendre, 
			et enthousiaste à l'idée de contribuer à des projets innovants au sein d'une équipe.
		</p>
	</div>
</section>
