---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/competence.jpg"
			alt="image de compétence"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="A propos de moi " />
			<p class="about__text">
				Bienvenue sur mon portfolio, je suis un développeur web fullstack junior 
				en reconversion professionnel, avec pour objectif d'obtenir un diplôme Bac+3/4 
				en Conception et Développement d'Applications. À 34 ans, je dispose d'une vision claire 
				de mes ambitions professionnelles et je recherche activement une alternance 
				pour approfondir mes compétences en front-end et back-end. Motivé, rigoureux et 
				passionné par les nouvelles technologies, je suis déterminé à contribuer à des projets 
				ambitieux au sein d'une équipe dynamique . 
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
