---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Joan Mutuon">
	<div class="terminal__skills">
		<h2>Mes compétences</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/bootstrap.svg"
				color="#7738ff"
				name="Bootstrap"
			/>
			<TerminalIcon
				src="/assets/tailwind.svg"
				color="#41B883"
				name="Tailwind"
			/>
			<TerminalIcon
				src="/assets/laravel.svg"
				color="#FF2D20"
				name="Laravel"
			/>
			<TerminalIcon
				src="/assets/symfony.svg"
				color="#ffffff"
				name="Symfony"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#00D1FF"
				name="React"
			/>
			<TerminalIcon
				src="/assets/vue.svg"
				color="#41B883"
				name="Vue.js"
			/>
			<TerminalIcon
				src="/assets/html.svg"
				color="#E34C26"
				name="HTML"
			/>
			<TerminalIcon
				src="/assets/css.svg"
				color="#1572B6"
				name="CSS"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#F0DB4F"
				name="JavaScript"
			/>
			<TerminalIcon
				src="/assets/mysql.svg"
				color="#4479A1"
				name="mysql"
			/>
			
		
		</div>
	</div>
</Terminal>
