---
import './Contact.css'
---

<section id="contact" class="contact">
    <div class="contact__container">
        <h2 class="hero__title color__gradiente contact__title">Me contacter :</h2>
        <ul class="contact__list">
            <li class="contact__item">
                <a class="contact__link" href="mailto:mutuon.j@gmail.com">
                    <iconify-icon
                        icon="fluent:mail-28-regular"
                        width="20"
                        height="20"
                        style="color: #dcd8fc"
                    ></iconify-icon>
                    mutuon.j@gmail.com
                </a>
            </li>
            <li class="contact__item">
                <a class="contact__link" href="https://www.linkedin.com/in/joan-mutuon-123456789/" target="_blank" rel="nofollow noreferrer noopener">
                    <iconify-icon
                        icon="simple-icons:linkedin"
                        width="20"
                        height="20"
                        style="color: #dcd8fc"
                    ></iconify-icon>
                    Joan Mutuon
                </a>
            </li>
            <li class="contact__item">
                <a class="contact__link" href="https://github.com/octador" target="_blank" rel="nofollow noreferrer noopener">
                    <iconify-icon
                        icon="mdi:github"
                        width="20"
                        height="20"
                        style="color: #dcd8fc"
                    ></iconify-icon>
                    @octador
                </a>
            </li>
            
            <li class="contact__item">
                <a class="contact__link" href="/docs/CV_Joan_Mutuon.pdf" target="_blank" rel="nofollow noreferrer noopener">
                    <iconify-icon
                        icon="tabler:file-cv"
                        width="20"
                        height="20"
                        style="color: #dcd8fc"
                    ></iconify-icon>
                    CV
                </a>
            </li>
        </ul>
    </div>
</section>
