---
import './header.css';
import Logo from '../Logo.astro';
---

<header class="header">
	<div class="header__container">
         <div class="header__info">
             <Logo name="Joan Mutuon"/>
             <div class="header__info__title">
            <h2 class="color__gradiente header__title">Me contacté : </h2>
                <ul class="header__contact">
                        <li>
                            <a class="footer__link" href="mailto:mutuon.j@gmail.com"
                                ><span
                                    ><iconify-icon
                                        icon="fluent:mail-28-regular"
                                        width="27"
                                        height="27"
                                        style="color: #dcd8fc"></iconify-icon></span
                                >mutuon.j@gmail.com</a>
                        </li>
                        <li>
                            <a class="footer__link"
                            href="https://github.com/octador"
                            target="_blank"
                            rel="nofollow noreferrer noopener"
                                ><span
                                    ><iconify-icon
                                        icon="mdi:github"
                                        width="27"
                                        height="27"
                                        style="color: #dcd8fc"></iconify-icon></span
                                >@octador</a>
                        </li>
                        <li>
                            <a class="footer__link"
                            href="https://www.linkedin.com/in/joan-mutuon-123456789/"
                            target="_blank"
                            rel="nofollow noreferrer noopener"
                                ><span
                                    ><iconify-icon
                                        icon="simple-icons:linkedin"
                                        width="27"
                                        height="27"
                                        style="color: #dcd8fc"></iconify-icon></span
                                >Joan Mutuon</a>
                        </li>
                        
                </ul>
            </div>
        </div>
        
   
		<nav class="links">
            
			<button class="menu__btn">Menu</button>
			<ul class="header__list">
				<li><a class="menu__link" href="/">Accueil</a></li>
				<li><a class="menu__link" href="#about">À propos</a></li>
				<li><a class="menu__link" href="#portafolio">Projets</a></li>
			</ul>
		</nav>
	</div>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const menuBtn = document.querySelector('.menu__btn');
    const menuList = document.querySelector('.header__list');

    // Vérification que les éléments existent
    if (menuBtn && menuList) {
        // Fonction pour basculer l'état du menu
        const toggleMenu = () => {
            menuBtn.classList.toggle('active');
            menuList.classList.toggle('active');
        };

        // Ajout de l'événement click pour ouvrir/fermer le menu
        menuBtn.addEventListener('click', toggleMenu);

        // Fonction pour fermer le menu au défilement
        const closeMenuOnScroll = () => {
            if (menuList.classList.contains('active')) {
                toggleMenu();
            }
        };

        // Ajout de l'événement scroll pour fermer le menu
        window.addEventListener('scroll', closeMenuOnScroll);
    } else {
        console.error('aucun bouton de menu n\'a été trouvé');
    }
});

</script>
