---
import './header.css';
import Logo from '../Logo.astro';
---

<header class="header">
	<div class="header__container">
		<Logo name="Joan Mutuon"/>
		<nav class="links">
			<button class="menu__btn">Menu</button>
			<ul class="header__list">
				<li><a class="menu__link" href="/">Accueil</a></li>
				<li><a class="menu__link" href="#about">À propos</a></li>
				<li><a class="menu__link" href="#portafolio">Projets</a></li>
			</ul>
		</nav>
	</div>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const menuBtn = document.querySelector('.menu__btn');
    const menuList = document.querySelector('.header__list');

    // Vérification que les éléments existent
    if (menuBtn && menuList) {
        // Fonction pour basculer l'état du menu
        const toggleMenu = () => {
            menuBtn.classList.toggle('active');
            menuList.classList.toggle('active');
        };

        // Ajout de l'événement click pour ouvrir/fermer le menu
        menuBtn.addEventListener('click', toggleMenu);

        // Fonction pour fermer le menu au défilement
        const closeMenuOnScroll = () => {
            if (menuList.classList.contains('active')) {
                toggleMenu();
            }
        };

        // Ajout de l'événement scroll pour fermer le menu
        window.addEventListener('scroll', closeMenuOnScroll);
    } else {
        console.error('aucun bouton de menu n\'a été trouvé');
    }
});

</script>
