.header {
	display: flex;
	width: 100%;
	padding: 2rem;
	justify-content: center;
	align-items: center;
	color: var(--on-primary);
	position: fixed;
	z-index: 3;
}

.header .header__container {
	display: flex;
	width: 100%;
	max-width: var(--max-width);
	justify-content: space-between;
	background: #00000033;
	backdrop-filter: blur(20px);
	padding: 1rem 2rem;
	border-radius: 14px;
	height: auto;
	min-height: 7rem;
	border: 0.03px solid #7c39fd47;
	flex-wrap: wrap;
}

.header .profile .header__title {
	font-size: var(--text-title);
	font-weight: 600;
	cursor: pointer;
}

.header .header__list {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2rem;
}

.header .links {
	display: flex;
	gap: 22px;
	font-size: var(--text-general);
}

.header .links a {
	position: relative;
}

.header .links a::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	transform: scaleX(0);
	transform-origin: 0;
	height: 2px;
	background: var(--primary);
	transition: 0.35s transform;
}

.header .links a:hover {
	color: var(--primary-90);
}

.header .links a:hover::after {
	transform: scale(1);
}

.header__logo__contact {
	display: flex;
}

.header__info {
	display: flex;
	gap: 55px;
	flex-direction: row;
	align-items: start;
	text-align: start;
}

.header__info__title {
	font-size: var(--text-small);
}

.header__info h2 {
	font-size: var(--text-x-large);
}

.icons {
	display: none;
}

.menu__btn {
	margin: 10px;
	display: none;
}

@media screen and (max-width: 768px) {
	.header {
		padding: 1rem;
	}

	.header .header__container {
		flex-direction: column;
		align-items: center;
		padding: 1rem;
	}

	.header .links {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.header .header__list {
		flex-direction: column;
		width: 100%;
		gap: 1rem;
		background: #1c0544;
		padding: 0.8rem;
		border-radius: 14px;
		border: 1px solid #dc5898;
		display: none;
		/* Masquer le menu par défaut */
	}

	.header__info {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 5px;
		text-align: center;
	}

	.menu__btn {
		margin: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem 2rem;
		background: var(--hero-bg);
		border-radius: 100px;
		font-size: var(--text-x-large);
		color: #33f3c6;
		border: 2px solid #33f3c6;
		cursor: pointer;
	}


	.menu__btn.active+.header__list {
		margin: 10px;
		display: flex;

	}
}