---
import "../styles/global.css"
interface Props {
	title: string;
}
const { title } = Astro.props;
// import Header from '../components/header/Header.astro';
// import { mainMenu } from '../components/data/menuData.js';
---

<!doctype html>
<html lang="es">
	<head>
		

 <!-- Icônes et Manifeste -->
 <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
 <link rel="manifest" href="/favicon/site.webmanifest">
 <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
 <meta name="msapplication-TileColor" content="#603cba">
 <meta name="theme-color" content="#ffffff">

 <!-- Méta Tags -->
 <meta charset="UTF-8" />
 <meta name="description" content="Astro description" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 
 <meta name="generator" content={Astro.generator} />

 <!-- Préconnexion et Feuilles de Style -->
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
   href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
   rel="stylesheet"
 />

 <!-- Script Externe -->
 <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

		<title>{title}</title>
	</head>
	<body class="flex flex-col">

			<slot/>
	</body>
</html>
